body{
    font-family: 'Oswald', sans-serif;
    margin: auto;
    text-align: center;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#app {
    background-image: url(img/logo.png);
    background-size: 20%;
    background-position-x: 70px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #FFF5EE;
    vertical-align: top;
    width: 1000px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
h1 {
    margin-left: 200px;
}
p {
    font-size: 22px;
}
.list {
    padding-left: 70px;
    margin-bottom: 30px;
    text-align: left;
    float: left;
    width: 330px;
}
li {
    list-style-type: none;
}
.graph {
    margin-top: 35px;
    margin-right: 50px;
    float: right;
    text-align: center;
    width: 500px;
}

.myButton {
    
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Oswald', sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
